@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 63px;
    margin-left: 100px;
    margin-right: 100px;
}

.title {
    font-size: 80px;
    font-family: 'Roboto';
    margin-bottom: 40px;
}

.title-start {
    color: #000000;
}

.title-end {
    color: #4BCAFF;
}

a {
    text-decoration: none;
}

.header-menu {
    display: flex;
    width: 1280px;
    height: 69px;
    justify-content: center;
    background-color: #35444F;
    color: #ffffff;
}

.header-menu-item {
    box-sizing: border-box;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    padding: 20.5px 25px;
}

.side-menu {
    border: black solid 1px;
    flex-direction: column;
    width: 344px;
    margin-top: 49px;
    margin-right: 51px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #495863;
    align-items: flex-start;
}

.side-menu-item{
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 42px;
}

.main-content {
    width: 885px;
    margin-top: 49px;
    margin-bottom: 50px;
    align-items: flex-end;
    color: #2C2C2C;
    font-size: 18px;
    font-family: Roboto;
}

.text{
    margin-bottom: 13px;
    margin-top: 13px;
}

.photo-box {
    margin-bottom: 25px;
}

.footer {
    display: flex;
    width: 1280px;
    justify-content: space-around;
    background-color: rgba(99, 105, 110, 0.48);
    font-family: Roboto;
    padding: 20px 40px 21px 40px;
}

.footer-menu-item {
    display: inline-block;
    font-size: 28px;
    padding-right: 10px;
    padding-left: 10px;
}

span {
    padding-left: 135px;
    font-size: 24px; 
}

.hover {
    cursor: pointer;
}

.bm-1:hover {
    background-color: #222F3A;
}

.bm-2:hover {
    padding: 20px;
    font-weight: bold;
}

.bm-3:hover {
    color: #3181A6;
    text-decoration: underline;
}



